@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

input,
textarea,
button {
  outline: none;
}

.form_input {
  @apply bg-snow-white px-[18px] h-[56px] w-full text-primary font-normal text-base placeholder:text-primary placeholder:text-opacity-60 rounded-xl border-[1px] border-transparent hover:border-secondary-100 focus:border-secondary-100 transition-colors;
}

.form_textarea {
  @apply bg-snow-white p-[18px] h-[114px] w-full text-primary font-normal text-base placeholder:text-primary placeholder:text-opacity-60 rounded-xl border-[1px] border-transparent hover:border-secondary-100 focus:border-secondary-100 transition-colors resize-none;
}

.location_input {
  @apply bg-snow-white pr-[18px] pl-11 h-[56px] w-full text-primary font-normal text-base placeholder:text-primary placeholder:text-opacity-60 rounded-xl border-[1px] border-transparent hover:border-secondary-100 focus:border-secondary-100 transition-colors;
}

.custom_checkbox {
  @apply flex justify-center items-center flex-col gap-2 w-[112px] h-[95px] relative;
}

.checkbox_border {
  @apply absolute inset-0 border-[1px] rounded-[10px] border-primary border-opacity-20 peer-checked:border-secondary-100 transition-colors;
}

.checkbox_label {
  @apply text-primary font-medium text-base text-center;
}

.form_error_message {
  @apply text-secondary-100 text-sm font-normal text-right;
}
